@import "wph-grid/ed-grid";
//Color font
$bg-color1: #597FCA;
$bg-color2: #2552AC;
$bg-color3: #00BABB;
$bg-color4: #348a8d;

//Color text
$color-text-dark1:#c1c5c5;
$color-text-dark2:#989c9c;
$color-text-dark3:#868585;
$color-text-dark4:#6b6969;
$color-text-dark5:#474646;
$color-text-dark6:#292727;
$color-text-white:#ebe5e5;

//Opacity
$color-black:#000000;
$color-opacity1: #EFEFEF;
$color-opacity2: #585656; 
$color-opacity3: #9c9898;

//color skill
$color-html5:#E44D26;

//z-index
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}
:root{
    --footer-bg: #008E96;
}
//Mixins
@mixin boxShadow(){
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),0 1px 5px 0 rgba(0, 0, 0, 0.12),0 3px 1px -2px rgba(0, 0, 0, 0.2);

}
@mixin animationAction{
    transition: transform linear .1s;
    transform: scale(1.1);
}
/* Hash target */ 
:target{
    padding-top:3em; 
} 
$bp-menu:50rem;
//Nav  que incluye la section de logo y menu 
.nav-container{
    position:  fixed;
    top: 9px;
    right: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%; 
    z-index: var(--z-modal);
    @include showTo($bp-menu); 

}
.nav-container:active{
 background-color: rgba(0, 0, 0, 0.40); 

}
.nav-toggle{ 
    @include navToggle(15px,#ffffff); 
    top: 9.5px;
    right: -6px;
    @include showTo($bp-menu); 
}
/*Header*/

.header{
    @include edContainer;
    @include full; 
    position: fixed;
    top: 0;
    left: 0;  
    z-index: var(--z-fixed);
    background-color:$bg-color1;
    height: 3.5em; 
    
    &-main{
        @include edContainer;
        @include full;  
        .logo{ 
            &__title{
                margin: .5em;
            }
            @include edItem(100,30,55);
            font-family: 'Courgette', cursive;
            color: $color-text-dark1;
            span{
                color: $color-text-white;
            }  
         }
        .nav{  
            @include edItem(100,70,45);
            @include edNav(left,$bp-menu);     
            @include mainCenter;  
            padding-right: 0;
            padding-left: 0;
            @include to($bp-menu){
                top:3.5em; 
                width: 50%;
                background-color:$bg-color3;
            }
            @include to(20em){ 
                width: 75%; 
            }
            .menu{   
                @include edMenu($bp-menu,edNav);   
                &-item{  
                    @include to($bp-menu){ 
                        border-bottom: 1px solid rgb(1, 204, 204); 
                        :hover{
                            background-color: $bg-color4;
                        }    
                    } 
                }
                &-link{
                    position: relative;
                   @include from($bp-menu){
                    &::after{
                        content:''; 
                        position: absolute;
                        left: 0; 
                        bottom: -10px; 
                        width: 0;
                        height: 4px;
                        background-color: #fff;
                        transition: width .2s linear;
                       
                    }  
                    &:hover.menu-link::after{
                        width: 100%;
                        right: 0;
            
                    } 
                   }
                    @include from($bp-menu){
                        display: inline !important;
                        padding: 0 !important; 
                        

                    } 
                    color: $color-text-white;  
                      
                }
                
             }  
         } 
    }
}    
//About 
.about{
    position: relative;
    background: rgb(31, 177, 235);
    width: 100%;
    height: 39rem; 
    overflow: hidden;
    @include to(45em){    
            height:55em;
    }
    @include to(26em){    
            height:46em;
    }
    @include to(345px){      
            height:55em;
    }
    @include to(261px){      
        height:58em;
}
    &-container1{ 
        width: 100%;
        height: 39rem; 
        background:url(https://images.pexels.com/photos/356056/pexels-photo-356056.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) no-repeat center/cover;
        &::before{  
            position: absolute;
            content: '';
            width: 100%;
            height: 100%; 
            background-color: rgba($bg-color3,0.88);
        }
    }
    &-container2{
        position: absolute;
        top: 0;
        width: 100%;
        height: 15rem;
        background-color: $bg-color1; 
        clip-path: polygon(0 0, 100% 0, 100% 60%,0 42%); 
        width: 100%;
        height: 36rem;
        background:url(https://images.pexels.com/photos/288183/pexels-photo-288183.jpeg?h=350&auto=compress&cs=tinysrgb) no-repeat center/cover;
        &::before{ 
            position: absolute; 
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba($bg-color2,0.88);
        }
    }
    &-container3{ 
        position: relative;
        margin-top: -10em;
        background-color: #EFEFEF;
        width: 100%;
        height: 403em;
        clip-path: circle(70% at 50% 51%); 
    }
}
//Profile
 @keyframes animationOpacity{
     from{opacity: 0;transform: rotateX(0deg)}
     to{opacity: 1;transform: rotateX(380deg)}
 }
.profile{
    position: absolute;
    top: 18%; 
    left: 50%;
    transform: translateX(-50%);
    width: 52em;
    height: 31em;
    background-color: rgb(255, 255, 255);  
    display: flex;
    flex-flow: row wrap;
    margin-right: 0;   
    
    @include to(795px){
        width: 48em; 
        height: 32em;
    }
    @include to(45em){
        @include grid('.profile-container',1,0);  
        margin-top: -5em;  
        height: auto; 
        width: 80%;  
        .profile-img{
            height: 100%;
            &__bg-description{
                height:10%; 
            }
        } 
        .profile-content{
            margin-top: -8em;
            height:auto; 
        }
        .profile-socialmedia{ 
            &__link{
              margin: 0 .7em;
            }
        }
    }
    @include to(35em){ 
        width: 90%; 
    }
    @include to(25em){ 
        width: 96%; 
    } 
    &-img{ 
      display: inherit;
      flex-flow: column nowrap; 
      width: 30%; 
      background-color:#ffffff; 
      &__bg{ 
        position: relative; 
        width: 100%;
        height: 50%;
        background-color:#fff;
        display: flex;
        justify-content: center; 
        align-items: center; 
        &-url{
            background-image: url(./img/lenguajes.png);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            height: 200px;
            width: 90%;
            opacity: .2;
            @include to(720px){ 
                width: 30%;
                height: 20em;
            }
        } 
        .profile:hover &-content{
            height: 100%;
            padding: 15px;  
            animation: animationOpacity .8s;
        } 
        &:hover, &:focus{
            transition: height .5s;
            height: 100%;
            @include to(l){  
                height: 50%; 
            }
        } 
        & .imgavatar{
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            margin-bottom: -2.8em;
            width: 5em;
            height: 5em;
            object-fit: cover;
            border-radius: 50%;
            border: 5px solid #ffffff;  
        }
      } 
      &__bg-description{
         width: 100%; 
         height: 50%;
         display: inherit;
         justify-content: center; 
      }
      
    }
    &-content{
        width: 70%;
        background-color:#ffffff;
        padding: 0 2em;
        color: $color-opacity2;
        @include to(335px){ 
            padding: 0 1em;
        }
        @include to(300px){ 
            padding: 1em 0.5em;
        }
        @include to(260px){ 
            padding: 3em 0.5em;
        }
        @include to(225px){ 
            padding: 4em 0.5em;
        }
        &__hello{ 
           position: relative;
           width: 6em; 
           background-color: $bg-color2;
           color: #ffffff;
           text-align: center;
           @include to(335px){ 
            margin-top: 2em;
            } 
           & p{
               padding: 4px;
               text-transform: uppercase;
               @include to(270px){ 
                padding: 4px 1px; 
              }
           }
           &::before{
               content:'';
               position: absolute; 
               left:1px;
               bottom: -10px;   
               margin-left: -5px;
               border-width: 15px;
               border-style: solid;
               border-color:$bg-color2 transparent transparent transparent;
               transform: rotate(133deg);
             
           }
        }
        &__name{
            font-weight: normal; 
            @include to(400px){ 
                font-size: 14px;
            }
            & span{
               font-weight: bold;
               font-size: 1.5em;
            }
        }
        &__line-space{
           display: block;
           border-bottom: thin solid $color-opacity1; 
        }  
        &-table{
            margin-top: 13px;
            margin-left: 0;
            padding-left: 0;
            border-collapse: collapse;
            text-align: left;
            @include to(400px){ 
                     display: none; 
             }
            & th{
                padding: 0 20px 0 0;
                
            }
            th:nth-child(2){
                font-weight: normal; 
            }
        }

    }
    &-socialmedia{
        display: flex;
        justify-content: center; 
        align-items: center; 
        width: 100%;
        background-color: $bg-color1;
        @include to(720px){
            padding: .6em; 
         }
        @include to(400px){
           :nth-child(4),:nth-child(5){
                display: none;
            }
        }
        &__link{
            display: inherit;
            justify-content: center;
            align-items: center;
            margin:0 1em;
            width: 45px;
            height: 45px;
            border-radius: 50%; 
            text-decoration: none; 
            background-color: $bg-color2;
            color: $color-text-white; 
            &:hover{
               @include animationAction;
            }
            &:active{
                transform: scale(0.8);
            }
        }
        & .facebook:hover{
            background-color: #405D9A;
        } 
        & .github:hover{
            background-color: #000000; 
        } 
        & .twitter:hover{
            background-color: #1DA1F2;
        } 
        & .whatsapp:hover{
            background-color:#00E676;

        } 
        & .linkedin:hover{
            background-color: #0077B5;

        } 
      
    }
    
} 
//Knowledge
.knowledge{
    margin-top:5em;
    @include to(78em){
        padding: 0 1em;
    }
    &-title{
         text-align: center;
         color: $color-opacity3;
         font-size: em(15px);
    }
    &-container{  
        @include grid('.knowledge-container-content',2);
        width: 100%;
        @include boxShadow; 
        background-color: #ffffff;
        @include to(45em){
            @include grid('.knowledge-container-content',1,0);
            .knowledge-container-content:nth-child(2){
             margin-top: 0;
            }
            @include to(45em){ 
                &-content:last-child{ 
                   margin-top: 0;
                   padding-top: 0;
                 }
              }
        }
         &-content{  
          padding: 35px 15px;  
          .skills{
            display: inline-block;
            margin-bottom: 5px;
            position: relative;
            background-color: #f5f5f5;
            width: 100%;
            height: 25px;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: inset 0 1px 2px rgba(0,0,0,.1); 
            &::before,.p-30::before,.p-40::before,.p-45::before,.p-50::before,.p-55::before,.p-60::before,.p-65::before,.p-70::before,.p-75::before,.p-80::before{
                width: 50%;  
                content: '';
                position: absolute;
                left: 0; 
                width: 50%;
                height: 100%;
                background: rgb(64, 47, 128); 
                border-radius: 15px; 
            }
            &.p-30::before{ width: 30%; } 
            &.p-40::before{ width: 40%; } 
            &.p-45::before{ width: 45%; } 
            &.p-50::before{ width: 50%; } 
            &.p-55::before{ width: 55%; } 
            &.p-60::before{ width: 60%; } 
            &.p-65::before{ width: 65%; }
            &.p-70::before{ width: 70%; } 
            &.p-75::before{ width: 75%; } 
            &.p-80::before{ width: 80%; } 
            &.p-90::before{ width: 90%; }  
            &__title{
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%); 
                padding: 5px;
                background-color: rgba(0, 0, 0, 0.25);
                color: #e9e1e1;
              }
            &__percent{
                position: absolute;
                display:  block;
                color: rgba(0, 0, 0, 0.40); 
                right: 1%;  
                top: 50%;
                transform: translateY(-50%);  
            }
          }
        }
    }
}
.otherskills { 
    &__title{
      text-align: center;
      color: $color-opacity3;
      font-size: em(30px);
    }
    &-content{
        background-color: #ffffff;
        color: $color-opacity2;
        @include boxShadow;
        padding: 17px 15px;  
       } 
}

// Experience
.experience{  
    &__title{
        text-align: center;
        font-size: 2em;
        color: $color-opacity3; 
    }
}
// success
@keyframes animationSuccess{
    from{opacity:0}
    50%{box-shadow: 0 0 8px 15px rgba(0, 0, 0, 0.12)}
    to{opacity:1}
}
.success{
    @include to(78em){
        padding: 0 1em;
    }
    &__title{
        text-align: center;
        color: $color-opacity3;
        font-size: em(30px); 
    }
    &-container{
        @include grid('.container-success-website',3);
        @include to(425px){
            @include grid('.container-success-website',1);
           }
       & .container-success-website{ 
           width: 380px;
           @include boxShadow;
           border-radius:8px;
           background-color: #ffffff; 
           animation: animationSuccess .2s;
           transition: transform .8s ease-out;  
           transform: translateX(20em);
           @include to(425px){
            width: auto; 
           }
            .container__line{
                border-bottom: 1px solid $color-text-dark1;    
            }
            .image-website{
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 15em;
                margin: 0;
                background-color: #EFEFEF;
                @include to(425px){
                    height: 12em;
                }
               
                &__photo{ 
                    border-radius: 8px  8px 0 0;
                    width: 100%;
                    height:auto;
                    object-fit: cover;
                    @include to(m){
                        height:auto;
                    } 
                } @include to(320px){
                    height: 9em;
                }
                &__link{ 
                    position: absolute;
                    top: 50%;
                    left: -2em;
                    width: 4em;
                    height: 4em;
                    background-color: #ffffff;
                    border-radius: 50%;
                    text-decoration: none;
                    color: $bg-color3;  
                    display: flex;
                    justify-content:flex-end;
                    align-items: center; 
                   & .fa-chevron-right{ 
                       margin-right: .2em;
                       font-size: 28px;
                   } 
                } 
            }
            .content-website{  
                letter-spacing: .005em;
                padding: 0 1em;
                &__title{ 
                    color: $color-text-dark4; 
                    font-size:1.2em;
                    margin: 0.3em 0;
                }
                &__subtitle{
                    color: $color-text-dark1; 
                    margin: 0;
                    font-weight:lighter;
                    font-size: 14px;
                }
                &__description{ 
                    color: $color-text-dark4;
                    font-size: 15px;  

                }
                

            }
            .content-link{
                width: 100%;
                display: flex;
                padding: 1em 1em;
                justify-content:flex-end;
                @include to(320px){
                    display: flex;
                    flex-flow: row wrap;
                    justify-content:center;
                }
                &-btn__disign { 
                    @include wphButton($bg-color3,$color-text-white,$bg-color4);
                    margin-right: 1em; 
                    @include to(320px){   
                        margin-right:.5em; 
                        margin-bottom: .5em;  
                    } 
                    &:hover{
                        @include animationAction;
                    }
                    &:active{
                        transform: scale(.8);
                    }
                }
                &-btn__website{ 
                    @include wphButton($bg-color1,$color-text-white,$bg-color2);
                    
                    &:hover{
                        @include animationAction;
                    }
                    &:active{
                        transform: scale(.8);
                    }
                }
                
            }
       }
    }
}
// Contact

.contact{
    @include to(78em){
        padding: 0 1em;
    }
    &__title { 
        font-size: 1.8em;
    text-align: center;
    color: $color-opacity3;  
    }
    &-container{  
        @include grid('.contact-content',2); 
        width: 100%; 
        @include to(45em){
            @include grid('.contact-content',1); 
         }  
        .contact-content{    
            background-color: #ffffff;
            @include boxShadow;  
            &__title{ 
                padding:0;
                margin: 0 0 2em 0;
                font-size: 1.5em;
                color: $color-opacity3;
                
            }
            &-message{  
                padding: 2em; 

               & input[type*="text"]{ 
                    width: 100%;
                    margin-bottom: 2em;
                    border: none;
                    outline: none;
                    font-size: 15px;
                    border-bottom: thin solid rgb(224, 221, 221);
                    padding-bottom: 1em;
                    &:focus{
                        border-bottom: 3px solid $bg-color1;   
                    }
                }
                & input[type*="text"]:nth-child(5){
                    padding-bottom: 6em; 
                }
                &__sent{
                    @include edgridButton;
                    color:#ffffff;
                    background-color: $bg-color1;
                    border-radius: 4px;
                    &:hover{
                        @include animationAction;
                    }
                    &:active{
                        transform: scale(.8);
                    }
                }
                
            }
            &-address{
               
                color: $color-opacity3; 
             & th{
                 padding: 1em;
            } 
          }
          &-map{ 
            &__api{
                width:100%;
                height:25em; 
                display: block; 
            }
          }
        }
    }
}

// Footer

.main-footer{ 
   
    // border-top: 5px solid rgba(0, 0, 0, 0.12);
    color: rgb(185, 180, 180);
    background-color:  var(--footer-bg);
    // box-shadow: inset 0 1px 2px rgba(0,0,0,.80);  
    margin-top: 2em; 
    &-container{  
      
        padding:2em; 
        @include edContainer;
        justify-content: center; 
    }
} 
//end-footer 

.footer-end{ 
    display: block;
    position: relative;
    background-color: var(--footer-bg);
    color: #a8b0b8; 
    &::before{
        content: ''; 
        top: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 1px;
        background: linear-gradient(left, #008E96  0%, #008E96  0%, #999797 50%, #008E96  100%);  
    } 
    &::after{
        top: 0;
        content:'';
        position: absolute;
        width: 100%;
        height: 100%; 
    } 
  
    &__content{
        @include edContainer; 
        justify-content: center; 
        
    }
    &__description{ 
        text-align: center;
    }
    
}  






 