ul.menu#menu
    li.menu__item
        a(href="#about").menu__link About
    li.menu__item
        a(href="#knowledge").menu__link Conocimientos
    li.menu__item
        a(href="#experience").menu__link Experiencia
    li.menu__item
        a(href="#success").menu__link Casos de Exito
    li.menu__item
        a(href="#contact").menu__link contactos 