ul.menu#menu
    li.menu-item
        a(href="#about").menu-link.active About me
    li.menu-item
        a(href="#knowledge").menu-link Conocimientos
    li.menu-item
        a(href="#experience").menu-link Experiencia
    li.menu-item
        a(href="#success").menu-link Casos de Exito
    li.menu-item
        a(href="#contact").menu-link contactos 