<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Courgette&amp;subset=latin-ext")
        script(src="https://use.fontawesome.com/releases/v5.0.6/js/all.js") 
        link(rel="shortcut icon", href="https://cdn3.iconfinder.com/data/icons/human-resources-flat-1/48/14-128.png", type="image/x-icon")

        title My Cv
    body
    header.header-container
        nav.ed-container.full 
            .ed-item.s-20
                h1.header-container__logo My 
                    span Profile
            .ed-item.s-80   
                include block-menu
    block about 
    block knowledge
    //- block experience
    block contact
    block footer
    block footer-end 