extends template/template 

block about
    section.about
        article.about-container1
        article.about-container2
        article.about-container3
        main.profile 
            article.profile-img
                article.profile-img__bg-img
                   img(src="img/foto1.jpg", alt="").imgurl
                article.profile-img__bg-description 
                   img(src="img/avatar.png", alt="").imgavatar 
            article.profile-content
                .profile-content__hello
                   p hello 
                h1.profile-content__name I'm 
                    span Wilber Pariona Huaraca
                span.profile-content__line-space    
                table.profile-content-table
                    tr
                        th Direccion
                        th Jr.Teodorocardenas
                    tr
                        th Email
                        th parionahuaraca@gmail.com
                    tr 
                        th Celular
                        th 995871015 
                p#typing 
            article.profile-socialmedia
                a(href="#").profile-socialmedia__link.facebook  
                    <i class="fab fa-facebook-f"></i>  
                a(href="#").profile-socialmedia__link.github  
                    <i class="fab fa-github"></i>
                a(href="#").profile-socialmedia__link.twitter  
                    <i class="fab fa-twitter"></i> 
                a(href="#").profile-socialmedia__link.whatsapp  
                    <i class="fab fa-whatsapp"></i>
                a(href="#").profile-socialmedia__link.linkedin  
                    <i class="fab fa-linkedin-in"></i> 
block knowledge
    span#knowledge.modoDev 
    .knowledge
        .ed-item.knowledge-title
                h1.title Conocimientos
        .ed-container
            .knowledge-container 
                .knowledge-container-content 
                    section.skills.p-70
                        span.skills__title   Html5
                        span.skills__percent 70%
                    section.skills.p-75
                        span.skills__title   Css3 & Sass
                        span.skills__percent 75%
                    section.skills.p-45
                        span.skills__title   JavaScript & JQuery 
                        span.skills__percent 45% 
                    section.skills.p-40
                        span.skills__title   NPM, Jade & Gulp
                        span.skills__percent 40%
                    section.skills.p-45
                        span.skills__title  Markdown, Git & GitHub
                        span.skills__percent 45% 
                    section.skills.p-30
                        span.skills__title   SQL, MySQL, PHP
                        span.skills__percent 30%        
                    section.skills.p-30
                        span.skills__title   Java, Android Studio
                        span.skills__percent 30%        
                           
                .knowledge-container-content 
                    section.skills.p-65
                        span.skills__title   Responsive web Disign
                        span.skills__percent 65%
                    section.skills.p-45
                        span.skills__title   Wordpress
                        span.skills__percent 45%
                    section.skills.p-75
                        span.skills__title   Adove XD
                        span.skills__percent 75%
                    section.skills.p-30
                        span.skills__title   Photoshop
                        span.skills__percent 30%
                    section.skills.p-50
                        span.skills__title   Bootstrap & MaterializeCss
                        span.skills__percent 50%  
              
            .ed-container
                .otherskills 
                    h1.otherskills__title Conocimiento Adicional   
                    section.otherskills-content 
                        p Redes: Cisco Networking Academy (IT essentials, ccna1 y ccna2).
                        p Arduino y Raspberry pi (Técnico). 
                        p Conocimiento de Microsoft Office 2016(Técnico). 
//- block experience   
block contact
    .ed-container
        span#contact
        section.contact
            h1.contact__title Contactame
            section.contact-container 
                article.contact-content 
                    section.contact-content-message
                        h1.contact-content__title Contactame
                        input(type="text" placeholder="Nombres")
                        input(type="text" placeholder="Email")
                        input(type="text" placeholder="Telefono")
                        input(type="text" placeholder="Mensaje") 
                        a(href="#").contact-content-message__sent Enviar
                article.contact-content 
                    section.contact-content-address
                        table.profile-content-table 
                            tr
                                th Direccion
                                th Jr.Teodorocardenas
                            tr
                                th Email
                                th parionahuaraca@gmail.com
                            tr 
                                th Celular
                                th 995871015 
                    section.contact-content-map 
                        iframe(src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d62445.93548398705!2d-77.09378291127513!3d-11.98342912634208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e6!4m3!3m2!1d-11.9834313!2d-77.0587632!4m3!3m2!1d-11.9834313!2d-77.0587632!5e0!3m2!1ses!2spe!4v1519373488895", frameborder="0").contact-content-map__api 

block footer
    footer.main-footer#main-footer
        section.main-footer-container
            section.main-footer-container-section
                h1.main-footer-container__title About
                ul.footer-info
                    i.fas.fa-user.footer-icon 
                    li.footer-info__item: a(href="#").footer-info__link About me 1
                    li.footer-info__item: a(href="#").footer-info__link About me 2
                    li.footer-info__item: a(href="#").footer-info__link About me 3
                    li.footer-info__item: a(href="#").footer-info__link About me 4
                    li.footer-info__item: a(href="#").footer-info__link About me 5
                    li.footer-info__item: a(href="#").footer-info__link About me 6
                    li.footer-info__item: a(href="#").footer-info__link About me 7
            section.main-footer-container-section
                h1.main-footer-container__title Conocimientos
                ul.footer-info
                    i.fas.fa-lightbulb.footer-icon 
                    li.footer-info__item: a(href="#").footer-info__link Conocimientos 1
                    li.footer-info__item: a(href="#").footer-info__link Conocimientos 2
                    li.footer-info__item: a(href="#").footer-info__link Conocimientos 3
                    li.footer-info__item: a(href="#").footer-info__link Conocimientos 4 
            section.main-footer-container-section
                h1.main-footer-container__title Experencia
                ul.footer-info
                    i.fas.fa-book.footer-icon 
                    li.footer-info__item: a(href="#").footer-info__link Experencia 1
                    li.footer-info__item: a(href="#").footer-info__link Experencia 2
                    li.footer-info__item: a(href="#").footer-info__link Experencia 3
                    li.footer-info__item: a(href="#").footer-info__link Experencia 4
                    li.footer-info__item: a(href="#").footer-info__link Experencia 5
            section.main-footer-container-section
                h1.main-footer-container__title Contactos
                ul.footer-info
                    i.fas.fa-phone.footer-icon 
                    li.footer-info__item: a(href="#").footer-info__link Contactos 1
                    li.footer-info__item: a(href="#").footer-info__link Contactos 2
                    li.footer-info__item: a(href="#").footer-info__link Contactos 3
                    li.footer-info__item: a(href="#").footer-info__link Contactos 4 
block footer-end
    section.end-footer
        .ed-container
            p 2018 &copy; Wilber Pariona Huaraca
            div(page_id!="<273261379729417>").fb-customerchat
                          
