.radio {
  display: block;
  position: relative;
  padding-left: 12px;
  margin-bottom: 15px;
  font-size: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.radio input {
  opacity: 0;
  cursor: pointer; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #0985aa;
  border-radius: 50%; }

.radio:hover input ~ .checkmark {
  background-color: #05556d; }

.radio input:checked ~ .checkmark {
  background-color: #05556d;
  -webkit-box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #e2d308;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #e2d308; }

.radio input:checked ~ .line-bg {
  background-color: #e2d308; }

.radio input:checked ~ .line {
  -webkit-box-shadow: none;
  box-shadow: none; }

.checkmark::before {
  content: '';
  position: absolute;
  display: none; }

.radio input:checked ~ .checkmark::before {
  display: block; }

.radio .checkmark::before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e2d308;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.radio .line-bg::before {
  background-color: #0985aa; }


